body{
  font-family: 'Open Sans', sans-serif;
}

.header_top{
  height: 70px;
  line-height: 70px;
  font-weight: 600;
  font-size: 12px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  width: 100%;
}

.logo img{
  height: 18px;
}

.list-inline{
  margin-bottom: 0;
}

.main-nav, .secondary-nav{
  display: inline-block;
}

.main-nav a{
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  margin: auto 15px;
}

.lang{
  border: none;
  background-color: #fff;
  border-left: 1px solid #9b9b9b;
  border-right: 1px solid #9b9b9b;
  line-height: normal;
  margin: auto 5px auto 30px;
}

.btn_primary{
  background-color: black;
  color: white;
  border-radius: 0;
  font-weight: 600;
  padding: 8px 24px;
}

.btn_mobile{
  background-color: transparent;
  font-size: 24px;
  outline: none;
}

/* BANNER HERO/JUMBOTRON */
.hero{
  margin-top: 70px;
  text-align: center;
}

.hero h1{
  font-weight: 700;
  color: #000;
}

@media screen and (max-width: 599px) {
  .hero h1{
    font-size: 55px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 600px) {
  .hero h1{
    font-size: 80px;
    padding-top: 70px;
  }
}

@media screen and (min-width: 900px) {
  .hero h1{
    font-size: 100px;
    padding-top: 100px;
  }
}

.hero img{
  width: 100%;
}
